@font-face {
	font-family: Impact, Helvetica, sans-serif;
	src: url(/GITHUB/enes-tukic/fonts/impact.ttf) format(truetype);
}
@font-face {
	font-family: agency, sans-serif;
	src: url(/GITHUB/enes-tukic/fonts/agency-fb.ttf) format(truetype);
}
:root {
	--page-background-color: rgb(255, 255, 255);
	
	--nav-bar-top-color: rgb(255, 255, 255);
	--nav-bar-bottom-color: rgb(255, 255, 255);

	--text1-color: rgb(255, 78, 78);
	--text2-color: rgb(169, 23, 23);
	
	--link-color: rgb(70, 22, 22);
	
	--heading1: 'AGENCY', sans-serif;
	--heading2: 'IMPACT', sans-serif;
	--text-font1: 'impact', sans-serif;
	--text-font2: 'arial' sans-serif;

	--link-font: 'impact', sans-serif;
}

.main-body-home, .main-body-about, .main-body-projects, .main-body-blog, .main-body-portfolio {
  background-color: var(--page-background-color);
	margin-top: 20px;
	padding-top: 20px;
}
.top-navbar {
	font-family: var(--heading2);
	display: flex;
	justify-content: center; /*horizontalno centar*/
	align-items: center; /*vertikalno centar*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	z-index: 10;
}

.bottom-navbar {
	font-family: var(--heading2);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-bottom: 5px;
	padding: 5px;
	z-index: 10;
}

.top-navbar-link {
	color: var(--link-color);
	text-decoration: none;
	margin: 0 10px;
}
.bottom-navbar-icon {
	color: var(--link-color);
	text-decoration: none;

}

.gen-text {
	font-family: var(--text-font);
	color: var(--text-color);
}

.doc-link {
  color: var(--link-color);
  font-family: var(--heading1);
}

.container {
 opacity: 50%;
}
.pdf-list{
	display: grid;
}