@font-face {
	font-family: ISOCPEUR;
	src: url("/fonts/isocpeur.ttf") format(truetype);
}
@font-face {
	font-family: AGENCY;
	src: url(/fonts/agency-fb.ttf) format(truetype);
}
:root {
	--background-color: rgb(25, 25, 25);
	--nav-bar-color: rgb(12, 14, 36);
	
	--nav-bar-opacity: 50%;

	--text-color: rgb(255, 255, 255);
	--text-hover-color: rgb(217, 59, 59);
	
	--link-color: red;
	--link-hover-color: red;

	--hover-color: red;
	--text-font: 'ISOCPEUR', sans-serif;

}

.nav-bar-logo {
	height: 20px;
	opacity: 50%;
	padding-left: 40px;
	padding-right: 20px;
}

.link {
   color: var(--text-color);
   background-color: rgba(179, 56, 35, 0.164);
   font-family: var(--text-font);
   

	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
}

.main-body-home, .main-body-about, .main-body-projects, .main-body-blog, .main-body-team {
   background-color: var(--background-color);
	margin-top: 100px;
	margin-bottom: 100px;
}

.top-bar {
   background-color: var(--nav-bar-color);
	opacity: 90%;
	display: flex;
	flex-direction: row;

	position: fixed;

	width: 90%;
	top: 10px;

   border-radius: 15px;
	overflow: hidden;

	text-align: center;
	align-items: center;

   padding-top: 10px;
   padding-bottom: 10px;
	font-family: var(--text-font);

}
.bottom-bar {

	background-color: var(--nav-bar-color);
	opacity: 70%;

	position: fixed;

	align-items: center;
	text-align: center;
	
	bottom: 10px;
	width: 100%;

}

.bottom-text {
	color: var(--text-color);
	font-size: 20px;
	font-family: var(--text-font);
	font-weight: bold;
	letter-spacing: 5px;
}

.pdf-list{


}

.navbar-link {
	text-decoration: none;
	color: var(--text-color);
	padding-left: 10px;
	padding-right: 10px;
}